	.config/.mono/
	.config/Code - OSS/
	.config/Code/
	.config/KDE/
	.config/KeePass/
	.config/Slack/
	.config/Trolltech.conf
	.config/akregatorrc
	.config/awesome/battery-widget/
	.config/awesome/themes/
	.config/baloofilerc
	.config/bluedevilglobalrc
	.config/chromium/
	.config/dconf/
	.config/drkonqirc
	.config/dunst/dunstrc.bak
	.config/fcitx/
	.config/fish/completions/
	.config/fish/conf.d/
	.config/fish/fish_variables
	.config/fish/fishfile
	.config/fish/functions/
	.config/fisher/
	.config/fontconfig/
	.config/gtk-3.0/
	.config/gtkrc
	.config/gtkrc-2.0
	.config/i3/757269-best-of-bing-wallpaper-1920x1080-for-4k-monitor.jpg
	.config/inkscape/
	.config/kactivitymanagerd-statsrc
	.config/kactivitymanagerdrc
	.config/kateschemarc
	.config/kcmfonts
	.config/kconf_updaterc
	.config/kde.org/
	.config/kded5rc
	.config/kdeglobals
	.config/kfontinstuirc
	.config/kglobalshortcutsrc
	.config/khotkeysrc
	.config/kmixrc
	.config/konsolerc
	.config/krunnerrc
	.config/kscreenlockerrc
	.config/ksmserverrc
	.config/ktimezonedrc
	.config/kwinrc
	.config/kwinrulesrc
	.config/kxkbrc
	.config/libaccounts-glib/
	.config/locale.conf
	.config/mimeapps.list
	.config/nomacs/
	.config/plasma-localerc
	.config/plasma-org.kde.plasma.desktop-appletsrc
	.config/plasmashellrc
	.config/powerdevilrc
	.config/powermanagementprofilesrc
	.config/pulse/
	.config/session/
	.config/syna3602.service
	.config/systemsettingsrc
	.config/teamviewer/
	.config/terminator/
	.config/xsettingsd/
